{include file="public/meta" /}
{include file="public/nav" /}
<!--病人基本信息页面-->
<style>
    .control-label{text-align: left!important;}
</style>
<div class="layui-fluid">
    <div class="layui-row">
        {include file="public/left/menu_left" /}
        <div class="content col-sm-10" style="padding-top: 15px">
            <form class="form-horizontal" action="{:url('Save/savepatients')}" method="post" data-auto="true">

                <div class="panel panel-info">
                    <div class="panel-heading yw-flex-row">
                        <h4 class="panel-title" style="line-height: 28px">基本信息</h4>
                        <button type="button" onclick="window.history.go(-1)" class="layui-btn layui-btn-sm"><i class="layui-icon">&#xe65c;</i>返回</button>
                    </div>
                    <div class="panel-body">
                        <button type="submit" class="btn btn-info save" id="savepatients" style="margin-bottom: 5px"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;保存修改</button>
                        <div class="alert alert-warning" role="alert" style="height: 30px;padding: 5px;margin-bottom: 5px">
                            创建时间：
                            <span style="color: #ff0000;margin-right: 20px;">
                                {$patients_name==null ? '未保存': $patients_name[0]['created_time'] }
                            </span>
                            上次修改时间：
                            <span style="color: #ff0000">
                                {$patients_name==null ? '未修改': $patients_name[0]['edit_time'] }
                            </span>
                        </div>

                        <input type="text" name="sys" class="form-control input-sm hidden" id="inputID" value="{$patientid}"  readonly="readonly">
                        <section class="has-success">
                            <div class="layui-col-md12">
                                <blockquote class="layui-elem-quote" style="padding: 10px;">患者信息</blockquote>
                            </div>
                            <div class="form-group layui-col-md6" style="margin-bottom: 5px!important;margin-left: 0;margin-right: 0;height: 42px">
                                <blockquote class="layui-elem-quote layui-quote-nm"style="padding: 5px;font-size: 15px">
                                    <label class="col-sm-4">患者姓名</label>
                                    <div class="input-group flex-row-start">
                                        <span class="input-group-addon" style="width: 40px">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </span>
                                        <input type="text" class="form-control input-sm" id="inputName" placeholder="" name="name" value="{$patients_name[0]['patients_name']}">
                                    </div>
                                </blockquote>
                            </div>
                            <div class="form-group layui-col-md6" style="margin-bottom: 5px!important;margin-left: 0;margin-right: 0;height: 42px">
                                <blockquote class="layui-elem-quote layui-quote-nm"style="padding: 5px;font-size: 15px">
                                    <label class="col-sm-4">身份证号</label>
                                    <div class="input-group flex-row-start">
                                        <span class="input-group-addon" style="width: 40px">
                                            <span class="glyphicon glyphicon-subtitles"></span>
                                        </span>
                                        <input type="text" class="form-control input-sm" id="inputIdentityCard" placeholder="" name="idcard" value="{$patients_name[0]['identity_card']}">
                                    </div>
                                </blockquote>
                            </div>
                            <div class="form-group layui-col-md6" style="margin-bottom: 5px!important;margin-left: 0;margin-right: 0;height: 42px">
                                <blockquote class="layui-elem-quote layui-quote-nm"style="padding: 5px;font-size: 15px">
                                    <label class="col-sm-4">电话</label>
                                    <div class="input-group flex-row-start">
                                        <span class="input-group-addon" style="width: 40px">
                                            <span class="glyphicon glyphicon-phone"></span>
                                        </span>
                                        <input type="text" class="form-control input-sm" id="inputPhone" placeholder="" name="phone" value="{$patients_name[0]['phone']}">
                                    </div>
                                </blockquote>
                            </div>
                            <div class="form-group layui-col-md6" style="margin-bottom: 5px!important;margin-left: 0;margin-right: 0;height: 42px">
                                <blockquote class="layui-elem-quote layui-quote-nm"style="padding: 5px;font-size: 15px">
                                    <label class="col-sm-4">性别</label>
                                    <div class="input-group flex-row-start">
                                        <label class="radio-inline">
                                            <input type="radio" name="RadioSex" value="1" <?php if($patients_name[0]['sex'] =='1') echo 'checked="checked"'; ?> /> 男
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="RadioSex" value="0" <?php if($patients_name[0]['sex'] =='0') echo 'checked="checked"'; ?> /> 女
                                        </label>
                                    </div>
                                </blockquote>
                            </div>
                            <div class="form-group layui-col-md6" style="margin-bottom: 5px!important;margin-left: 0;margin-right: 0;height: 42px">
                                <blockquote class="layui-elem-quote layui-quote-nm"style="padding: 5px;font-size: 15px">
                                    <label class="col-sm-4">出生日期</label>
                                    <div class="input-group flex-row-start">
                                        <input size="16" type="date" value="{$patients_name[0]['birthday']}" class="form-control input-sm" id="inputDate" name="date">
                                    </div>
                                </blockquote>
                            </div>
                            <div class="form-group layui-col-md6" style="margin-bottom: 5px!important;margin-left: 0;margin-right: 0;height: 42px">
                                <blockquote class="layui-elem-quote layui-quote-nm"style="padding: 5px;font-size: 15px">
                                    <label class="col-sm-4">年龄</label>
                                    <div class="input-group flex-row-start">
                                        <input type="text" class="form-control input-sm" id="inputAge" placeholder="" name="age" value="{$patients_name[0]['age']}">
                                        <span class="input-group-addon" style="width: 40px">岁</span>
                                    </div>
                                </blockquote>
                            </div>
                            <div class="form-group layui-col-md6" style="margin-bottom: 5px!important;margin-left: 0;margin-right: 0;height: 42px">
                                <blockquote class="layui-elem-quote layui-quote-nm"style="padding: 5px;font-size: 15px">
                                    <label class="col-sm-4">民族</label>
                                    <div class="input-group flex-row-start">
                                        <select class="form-control input-sm" name="ethnic" id="inputEthnic" value="{$patients_name[0]['national']}">
                                        </select>
                                    </div>
                                </blockquote>
                            </div>
                            <div class="form-group layui-col-md6" style="margin-bottom: 5px!important;margin-left: 0;margin-right: 0;height: 42px">
                                <blockquote class="layui-elem-quote layui-quote-nm"style="padding: 5px;font-size: 15px">
                                    <label class="col-sm-4">身高</label>
                                    <div class="input-group flex-row-start">
                                        <input type="text" class="form-control input-sm" id="inputHeight" placeholder="" name="height" value="{$patients_name[0]['height']}">
                                        <span class="input-group-addon" style="width: 40px">CM</span>
                                    </div>
                                </blockquote>
                            </div>
                            <div class="form-group layui-col-md6" style="margin-bottom: 5px!important;margin-left: 0;margin-right: 0;height: 42px">
                                <blockquote class="layui-elem-quote layui-quote-nm"style="padding: 5px;font-size: 15px">
                                    <label class="col-sm-4">体重</label>
                                    <div class="input-group flex-row-start">
                                        <input type="text" class="form-control input-sm" id="inputWeight" placeholder="" name="weight" value="{$patients_name[0]['weight']}">
                                        <span class="input-group-addon" style="width: 40px">KG</span>
                                    </div>
                                </blockquote>
                            </div>
                            <div class="form-group layui-col-md6" style="margin-bottom: 5px!important;margin-left: 0;margin-right: 0;height: 42px">
                                <blockquote class="layui-elem-quote layui-quote-nm"style="padding: 5px;font-size: 15px">
                                    <label class="col-sm-4">婚姻状况</label>
                                    <div class="input-group flex-row-start">
                                        <select class="form-control input-sm" name="marry">
                                            <option value="0" <?php if($patients_name[0]['married'] =='0') echo 'selected="selected"'; ?> />未婚</option>
                                            <option value="2" <?php if($patients_name[0]['married'] =='2') echo 'selected="selected"'; ?> />已婚</option>
                                            <option value="1" <?php if($patients_name[0]['married'] =='1') echo 'selected="selected"'; ?> />离异</option>
                                        </select>
                                    </div>
                                </blockquote>
                            </div>
                            <script type="text/javascript">
                                 $(function(){
                                     $("#city").citySelect({
                                         prov:"{$patients_name[0]['adress1a']}",
                                         city:"{$patients_name[0]['adress1b']}",
                                         dist:"{$patients_name[0]['adress1c']}",
                                         nodata:null
                                     });
                                 })
                             </script>
                            <div class="form-group layui-col-md12" style="margin-bottom: 5px!important;margin-left: 0;margin-right: 0;height: 42px">
                                <blockquote class="layui-elem-quote layui-quote-nm"style="padding: 5px;font-size: 15px">
                                    <label class="col-sm-2">家庭住址</label>
                                    <div class="input-group layui-col-md10 flex-row-start" id="city">
                                        <div class="layui-col-md4">
                                            <select class="prov layui-col-md4" style="height: 30px;border-color: #3c763d;margin-bottom: 5px;" name="adress1a">{$patients_name[0]['adress1a']}</select>
                                            <select class="city layui-col-md4" style="height: 30px;border-color: #3c763d;margin-bottom: 5px;border-left: 0" name="adress1b">{$patients_name[0]['adress1b']}</select>
                                            <select class="dist layui-col-md4" style="height: 30px;border-color: #3c763d;margin-bottom: 5px;border-left: 0;border-right: 0" name="adress1c">{$patients_name[0]['adress1c']}</select>
                                        </div>

                                        <div class="layui-col-md8">
                                            <input type="text" class="form-control input-sm col-sm-8" id="inputAdress" placeholder="详细地址" name="adress2" value="{$patients_name[0]['adress2']}">
                                        </div>

                                    </div>
                                </blockquote>
                            </div>
                            <div class="layui-col-md12">
                                <blockquote class="layui-elem-quote" style="padding: 10px;margin-top: 5px">住院信息</blockquote>
                            </div>
                            <div class="form-group layui-col-md6" style="margin-bottom: 5px!important;margin-left: 0;margin-right: 0;height: 42px">
                                <blockquote class="layui-elem-quote layui-quote-nm"style="padding: 5px;font-size: 15px">
                                    <label class="col-sm-4">住院号</label>
                                    <div class="input-group flex-row-start">
                                        <input type="text" class="form-control input-sm" id="inputHospitalIdentityCard" placeholder="" name="hospitalid" value="{$patients_name[0]['hospital_id']}">
                                    </div>
                                </blockquote>
                            </div>
                            <div class="form-group layui-col-md6" style="margin-bottom: 5px!important;margin-left: 0;margin-right: 0;height: 42px">
                                <blockquote class="layui-elem-quote layui-quote-nm"style="padding: 5px;font-size: 15px">
                                    <label class="col-sm-4">影像号</label>
                                    <div class="input-group flex-row-start">
                                        <input type="text" class="form-control input-sm" id="inputPhotoId" placeholder="" name="photoid" value="{$patients_name[0]['id_photo_num']}">
                                    </div>
                                </blockquote>
                            </div>
                            <div class="form-group layui-col-md6" style="margin-bottom: 5px!important;margin-left: 0;margin-right: 0;height: 42px">
                                <blockquote class="layui-elem-quote layui-quote-nm"style="padding: 5px;font-size: 15px">
                                    <label class="col-sm-4">病理号</label>
                                    <div class="input-group flex-row-start">
                                        <input type="text" class="form-control input-sm" id="inputPathologicalId" placeholder="" name="pathologicalid" value="{$patients_name[0]['id_pathological']}">
                                    </div>
                                </blockquote>
                            </div>
                            <div class="form-group layui-col-md6" style="margin-bottom: 5px!important;margin-left: 0;margin-right: 0;height: 42px">
                                <blockquote class="layui-elem-quote layui-quote-nm"style="padding: 5px;font-size: 15px">
                                    <label class="col-sm-4">二次入院</label>
                                    <div class="input-group flex-row-start">
                                        <label class="radio-inline">
                                            <input type="radio" name="RadioSedIn" id="radioSecInYes" value="1" <?php if($patients_name[0]['second_hospital_in'] =='1') echo 'checked="checked"'; ?> /> 是
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="RadioSedIn" id="radioSecInNo" value="0" <?php if($patients_name[0]['second_hospital_in'] =='0') echo 'checked="checked"'; ?> /> 否
                                        </label>
                                    </div>
                                </blockquote>
                            </div>
                            <div class="form-group layui-col-md6" style="margin-bottom: 5px!important;margin-left: 0;margin-right: 0;height: 42px">
                                <blockquote class="layui-elem-quote layui-quote-nm"style="padding: 5px;font-size: 15px">
                                    <label class="col-sm-4">入院日期</label>
                                    <div class="input-group flex-row-start">
                                        <input size="16" type="date" class="form-control input-sm" id="inputDateInHospital" name="inhospital" value="{$patients_name[0]['hospitalized_time']}">
                                    </div>
                                </blockquote>
                            </div>
                            <div class="form-group layui-col-md6" style="margin-bottom: 5px!important;margin-left: 0;margin-right: 0;height: 42px">
                                <blockquote class="layui-elem-quote layui-quote-nm"style="padding: 5px;font-size: 15px">
                                    <label class="col-sm-4">出院日期</label>
                                    <div class="input-group flex-row-start">
                                        <input size="16" type="date" class="form-control input-sm" id="inputDateOutHospital" name="outhospital" value="{$patients_name[0]['leaving_hospital']}">
                                    </div>
                                </blockquote>
                            </div>
                            <div class="form-group layui-col-md6" style="margin-bottom: 5px!important;margin-left: 0;margin-right: 0;height: 42px">
                                <blockquote class="layui-elem-quote layui-quote-nm"style="padding: 5px;font-size: 15px">
                                    <label class="col-sm-4">住院天数</label>
                                    <div class="input-group flex-row-start">
                                        <input size="16" type="text" class="form-control input-sm" id="hospitalDate" name="hospitaldate" value="{$patients_name[0]['hospital_date']}">
                                        <span class="input-group-addon" style="width: 40px">天</span>
                                    </div>
                                </blockquote>
                            </div>
                            <div class="form-group layui-col-md6" style="margin-bottom: 5px!important;margin-left: 0;margin-right: 0;height: 42px">
                                <blockquote class="layui-elem-quote layui-quote-nm"style="padding: 5px;font-size: 15px">
                                    <label class="col-sm-4">离院去向</label>
                                    <div class="input-group flex-row-start">
                                        <input type="text" class="form-control input-sm" id="outHospitalTo" placeholder="" name="outto" value="{$patients_name[0]['hospital_out_to']}">
                                    </div>
                                </blockquote>
                            </div>
                            <div class="form-group layui-col-md6" style="margin-bottom: 5px!important;margin-left: 0;margin-right: 0;height: 42px">
                                <blockquote class="layui-elem-quote layui-quote-nm"style="padding: 5px;font-size: 15px">
                                    <label class="col-sm-4">主治医生</label>
                                    <div class="input-group flex-row-start">
                                        <select class="form-control input-sm" name="doctor" id="inputDoctor">
                                            {volist name="doctor" id="vo"}
                                            <option value="{$vo.neckname}"{if condition="$vo.neckname eq $patients_name[0]['doctor']"}selected{/if} >{$vo.neckname}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                </blockquote>
                            </div>
                        </section>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<!--民族下拉选项框-->
<script>
    window.onload = function(){
        $('#dblist-top').addClass('active');
        $('#basic-info-left').addClass('active');
        //民族下拉选项框
        var nations = ["汉族", "蒙古族", "回族", "藏族", "维吾尔族", "苗族", "彝族", "壮族", "布依族", "朝鲜族", "满族", "侗族", "瑶族", "白族", "土家族", "哈尼族", "哈萨克族", "傣族", "黎族", "傈僳族", "佤族", "畲族", "高山族", "拉祜族", "水族", "东乡族", "纳西族", "景颇族", "柯尔克孜族", "土族", "达斡尔族", "仫佬族", "羌族", "布朗族", "撒拉族", "毛南族", "仡佬族", "锡伯族", "阿昌族", "普米族", "塔吉克族", "怒族", "乌孜别克族", "俄罗斯族", "鄂温克族", "德昂族", "保安族", "裕固族", "京族", "塔塔尔族", "独龙族", "鄂伦春族", "赫哲族", "门巴族", "珞巴族", "基诺族"];
        var option = "";
        //获取后台传入的value值
        var inputEthnicValue = $('#inputEthnic').attr('value');
        //循环列表
        for(var i = 0; i < nations.length; i++) {
            //判断后台传入的值添加选中
            if (inputEthnicValue == nations[i]){
                option += '<option value="' + nations[i] + '" selected>' + nations[i] + '</option>'
            }
            else {
                option += '<option value="' + nations[i] + '" >' + nations[i] + '</option>';
            }
        }
        $(option).appendTo("#inputEthnic");



    }
</script>
<!--计算住院天数-->
<script>
    //date1和date2是2019-06-18格式
    $('#hospitalDate').on('click',function () {
        let in_hospital = $('#inputDateInHospital').val();
        let out_hospital = $('#inputDateOutHospital').val();
        let date1 = Date.parse(in_hospital);
        let date2 = Date.parse(out_hospital);
        var days= Math.abs(date2 - date1);
        $('#hospitalDate').val(days/24/3600/1000);
    })

</script>
<!--根据身份证号判断籍贯、出生日期、性别、年龄-->
<script type="text/javascript">
    //给身份证文本框添加一个失去焦点事件：
    $("#inputIdentityCard").blur(function() {
        //获取身份证号码，例如：412702199301010000，这里不再判断身份证号是否合法
        var idNumber = $("#inputIdentityCard").val();
        //定义籍贯、出生日期、性别、年龄等变量
        var provinces,province,birthday,currDate,month,date,age,sex;

        //一、获取籍贯，由于数据量比较大，所以这里只获取到省：
        //定义地区数组
        provinces = { 11: "北京", 12: "天津", 13: "河北", 14: "山西", 15: "内蒙古", 21: "辽宁", 22: "吉林", 23: "黑龙江", 31: "上海", 32: "江苏", 33: "浙江", 34: "安徽", 35: "福建", 36: "江西", 37: "山东", 41: "河南", 42: "湖北", 43: "湖南", 44: "广东", 45: "广西", 46: "海南", 50: "重庆", 51: "四川", 52: "贵州", 53: "云南", 54: "西藏", 61: "陕西", 62: "甘肃", 63: "青海", 64: "宁夏", 65: "新疆", 71: "台湾", 81: "香港", 82: "澳门", 91: "国外" };
        province = provinces[parseInt(idNumber.substr(0, 2))];
        //二、出生日期
        birthday = idNumber.substring(6, 10) + "-" + idNumber.substring(10, 12) + "-" + idNumber.substring(12, 14);
        //三、计算年龄
        currDate = new Date();
        month = currDate.getMonth() + 1;
        date = currDate.getDate();
        age = currDate.getFullYear() - idNumber.substring(6, 10) - 1;
        //判断年龄
        if (idNumber.substring(10, 12) < month || (idNumber.substring(10, 12) == month && idNumber.substring(12, 14) <= date)) {
            age++;
        }
        //四、获取性别
        if (parseInt(idNumber.substr(16, 1)) % 2 == 1) {
            //男
            sex = '1';
        } else {
            //女
            sex = "0";
        }

        //赋值
        // $(".prov").val(province); //省份由于采用了插件无法对接所以没有自动进行判定
        $("#inputDate").val(birthday);
        $("#inputAge").val(age);
        $("input[name='RadioSex'][type=radio][value='" + sex + "']").attr("checked", true);
    });
</script>

<script>
    //保存成功弹窗
    $("#savepatients").click(function(){
        alert('保存成功')
    });

</script>


{include file="public/footer" /}
