<script>
    Date.prototype.format = function (fmt) {
        var o = {
            "y+": this.getFullYear, //年
            "M+": this.getMonth() + 1, //月份
            "d+": this.getDate(), //日
            "h+": this.getHours(), //小时
            "m+": this.getMinutes(), //分
            "s+": this.getSeconds() //秒
        };
        if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
    setInterval("document.getElementById('dateTime').innerHTML = (new Date()).format('yyyy-MM-dd hh:mm:ss');", 1000);
</script>
<div class="col-sm-2 layui-hide-xs" style="padding-right: 0;padding-left: 0"></div>
<div class="col-sm-2 layui-hide-xs" style="position: fixed;padding-left: 0;padding-right: 0">
    <div class="timer" id="dateTime" style="font-weight: 400;color: #3797AD"></div>
    <a class="menu-left-title menu-left-title-space" href="{:url('/Count/sysList')}" id="sys-info-left" style="padding: 0 15px;">
        <img src="/static/image/icon/xitongxinxi.svg" style="width: 24px;margin-right: 10px;margin-top: -4px" />系统信息</a>
    <a class="menu-left-title menu-left-title-space" href="{:url('/Count/baseList')}" id="basic-info-left" style="padding: 0 15px;">
        <img src="/static/image/icon/patients.svg" style="width: 24px;margin-right: 10px;margin-top: -4px" />基础信息</a>
</div>