{include file="public/meta" /}
{include file="public/header" /}
{include file="public/leftempty" /}
{include file="public/nav" /}


<div class="content">
    <div class="content-text">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">基本情况</h4>
            </div>
            <div class="panel-body">
                <blockquote class="layui-elem-quote layui-quote-nm">
                <p style="text-indent:2em;">
                    重医大附三院呼吸疾病中心由呼吸内科和胸外科组成，是按国内一流三甲医院标准建设的集医疗、教学、科研为一体的呼吸系统疾病诊疗中心，是重庆市医院协会呼吸内科质量管理单位、重庆市呼吸学科建设联盟副理事长单位、肿瘤精准医疗大数据专家协作组单位、两江胸外联盟副理事长单位。
                </p>
                <p style="text-indent:2em;">
                    科室医护人员均来自国内大型三甲医院，具有高水平的呼吸系统疾病诊断、治疗和护理能力。中心现有高级职称6人，中级职称7人。中心设置床位104张，包含住院部一楼A、B两个病区，并设门诊肺功能检查室、纤支镜检查治疗室诊疗单元和胸腔热灌注治疗室。
                </p>
                </blockquote>
            </div>
            <div class="panel-heading">
                <h4 class="panel-title">呼吸疾病中心</h4>
            </div>
            <div class="panel-body">
                <blockquote class="layui-elem-quote layui-quote-nm">
                <p style="text-indent:2em;">
                    部分需呼吸系统内外科或多学科联合治疗的患者，该中心采用内科主治医师+外科主治医师+内（外）住院医师的2+1的患者管理模式，为患者提供内外科全面的诊疗服务，减少了患者反复会诊的环节，提高医疗质量和患者的就医体检。
                </p>
                <dl class="dl-horizontal" style="margin-top: 20px;">
                    <dt style="width: 120px;">呼吸内科：</dt>
                    <dd style="margin-left: 130px;">呼吸系统的常见病多发病，如慢阻肺、支气管哮喘、支气管扩张、肺间质疾病、呼吸衰竭等以及呼吸系统疑难杂症的诊治及危重患者的抢救。呼吸疾病中心配备高档无创及有创呼吸机8台，能够为危重患者提供及时有效的呼吸支持，并能进行气道狭窄的支架植入、氩气刀及冷冻治疗、球囊扩张，取支气管异物、疑难性胸腔积液内科胸腔镜检查等诊疗手段。</dd><br>
                    <dt style="width: 120px;">胸外科：</dt>
                    <dd style="margin-left: 130px;">各种肺癌、纵隔肿瘤、慢性阻塞性肺病、多发肺大疱、自发性气胸、食道癌、贲门失迟缓症、食管裂孔疝、手汗症等外科治疗。开展胸腔镜下肺癌根治切除、纵膈肿瘤切除、全胸腺切除、微创肺减容术、胸-腹腔镜联合食管癌根治术等。困难胸腔镜和单孔胸腔镜技术处于国内领先水平。热化疗治疗各种化疗耐药及晚期肺癌等患者。</dd>
                </dl>
                </blockquote>
            </div>
            <div class="panel-heading">
                <h4 class="panel-title">仪器设备</h4>
            </div>
            <div class="panel-body">
                <blockquote class="layui-elem-quote layui-quote-nm">
                    <p style="text-indent:2em;">
                    德国KARL STORZ高清腔镜系统、Olympus高清支气管镜及超声支气管镜、BR-TRG-I型体腔热灌注治疗系统、耶格肺功能仪（带激发装置）、Olympus内科胸腔镜、Drager及飞利浦有创和无创呼吸机、Erbo工作站及冷冻治疗仪等。。。
                    </p>
                </blockquote>
            </div>
            <div class="panel-heading">
                <h4 class="panel-title">学科带头人</h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail">
                            <img src="/static/image/sys/wangtianhu.jpg" style="height: 180px;display: inline-block;max-width: 130px;">
                            <div class="caption" style="display: inline-block;">
                                <h4>汪天虎</h4>
                                <h6>副主任医师</h6>
                                <h6>副教授</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail">
                            <img src="/static/image/sys/zhangwei.jpg" style="height: 180px;display: inline-block;max-width: 130px;">
                            <div class="caption" style="display: inline-block;">
                                <h4>张伟</h4>
                                <h6>副主任医师</h6>
                                <h6>副教授</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail">
                            <img src="/static/image/sys/chenshifeng.jpg" style="height: 180px;display: inline-block;max-width: 130px;">
                            <div class="caption" style="display: inline-block;">
                                <h4>陈诗奉</h4>
                                <h6>副主任医师</h6>
                                <h6>副教授</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="thumbnail">
                            <img src="/static/image/sys/wangrui.jpg" style="height: 180px;display: inline-block;max-width: 130px;">
                            <div class="caption" style="display: inline-block;">
                                <h4>王睿</h4>
                                <h6>副主任医师</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //为当前选中页面添加背景
    window.onload = function(){
        $('#group-info-top').addClass('active');
    }
</script>

{include file="public/footer" /}
