{include file="public/meta" /}
{include file="public/nav" /}
<style>
    .layui-form-label{width: 120px;}
</style>
<!--个人资料页面-->
<div class="content-empty layui-fluid">
    <div class="content-text">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">登录密码修改</h4>
            </div>
            <div class="panel-body">
                <form class="layui-form" action="">
                    <div class="layui-form-item" style="display: none;">
                        <label class="layui-form-label">用户ID</label>
                        <div class="layui-input-block" style="width: 300px;">
                            <input type="text" name="userid" id="userid" autocomplete="off" class="layui-input" value="">
                        </div>
                    </div>
                    <div class="layui-form-item" style="margin-top: 50px;">
                        <label class="layui-form-label">新密码</label>
                        <div class="layui-input-inline" style="width: 300px;">
                            <input type="password" name="password" id="password" required  lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">请再次输入</label>
                        <div class="layui-input-inline" style="width: 300px;">
                            <input type="password" name="repassword" id="repassword" required  lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button id="submit" class="layui-btn" lay-submit lay-filter="formPassword" type="button" style="margin-left: 10px;">
                                保存</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    //为当前选中页面添加背景
    window.onload = function(){
        $('#myinfo-top').addClass('active');
        $('#password-left').addClass('active');
    }
</script>
<!--layui框架-->
<script>
    //Demo
    layui.use(['form','layer'] ,function(){
        var form = layui.form;
        var layer = layui.layer;

        $("#repassword").on('change',function () {
            if ($('#repassword').val() == $('#password').val()){
                $('#submit').removeClass('layui-btn-disabled');

            }else {
                layer.msg('两次输入密码不一致！请重新输入')
            }

        });

        //监听提交
        form.on('submit(formPassword)', function(data){
            if ($('#repassword').val() == $('#password').val()){
                $.ajax({
                    type:"POST",
                    url:"{:url('Api/editPassword')}",
                    data:data.field,
                    dataType:'json',
                    success:function (data) {
                        if (data.status==100){
                            layer.msg(data.msg, {icon: 1});
                        }
                        else {
                            layer.msg(data.msg, {icon: 5});
                        }
                    }
                });

            }else {
                $('#password').focus();
                $('#repassword').val('');
                $('#password').val('');
                layer.msg('两次输入密码不一致！请重新输入');
            }
            console.log(data.field);
            return false;
        });
    });
</script>

{include file="public/footer" /}
