{include file="public/meta" /}
{include file="public/nav" /}
<style>
    .layui-form-label{width: 120px;}
    .eye{
        margin-left: -30px;
        margin-top: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    .hide-eye{
        width: 24px;
        height: 20px;
        background-image: url(/static/image/sys/hide_pass.svg);
        background-repeat: no-repeat;
        background-size: 24px 17px;

    }
    .show-eye{
        width: 24px;
        height: 20px;
        background-image: url(/static/image/sys/show_pass.svg);
        background-repeat: no-repeat;
        background-size: 24px 17px;

    }
</style>
<!--个人资料页面-->
<div class="content-empty layui-fluid">
    <div class="content-text">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">登录密码修改</h4>
            </div>
            <div class="panel-body">
                <form class="layui-form" action="">
                    <div class="layui-form-item" style="display: none;">
                        <label class="layui-form-label">用户ID</label>
                        <div class="layui-input-block" style="width: 300px;">
                            <input type="text" name="userid" id="userid" autocomplete="off" class="layui-input" value="">
                        </div>
                    </div>

                    <button id="submit" class="btn btn-info save" lay-submit lay-filter="formPassword" type="button">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;&nbsp;保存修改</button>
                    <div class="layui-form-item" style="margin-top: 20px;">
                        <div class="flex-row-start" style="width: 500px;">
                            <span class="input-group-addon" style="width: 111px;margin-right: -1px;line-height: 24px;display: block">
                                    新密码
                            </span>
                            <input type="password" name="password" id="password" required  lay-verify="required" autocomplete="off" class="layui-input">
                            <i class="eye hide-eye"></i>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="flex-row-start" style="width: 500px;">
                            <span class="input-group-addon" style="width: 100px;margin-right: -1px;line-height: 24px">
                                    请再次输入
                            </span>
                            <input type="password" name="repassword" id="repassword" required  lay-verify="required" autocomplete="off" class="layui-input">
                            <i class="eye hide-eye"></i>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>

<!--密码显示-->
<script type="text/javascript">
    $(".eye").on("click",  function () {
        if ($(this).hasClass('show-eye')){
            $(this).removeClass("show-eye").addClass("hide-eye");
            $(this).prev().attr("type", "password");
        }else {
            $(this).removeClass("hide-eye").addClass("show-eye");
            $(this).prev().attr("type", "text");
        }
    });

</script>

<script>
    //为当前选中页面添加背景
    window.onload = function(){
        $('#myinfo-top').addClass('active');
    }
</script>
<!--layui框架-->
<script>
    //Demo
    layui.use(['form','layer'] ,function(){
        var form = layui.form;
        var layer = layui.layer;

        $("#repassword").on('change',function () {
            if ($('#repassword').val() == $('#password').val()){
                $('#submit').removeClass('layui-btn-disabled');

            }else {
                layer.msg('两次输入密码不一致！请重新输入')
            }

        });

        //监听提交
        form.on('submit(formPassword)', function(data){
            if ($('#repassword').val() == $('#password').val()){
                $.ajax({
                    type:"POST",
                    url:"{:url('Api/editPassword')}",
                    data:data.field,
                    dataType:'json',
                    success:function (data) {
                        if (data.status==100){
                            layer.msg(data.msg, {icon: 1});
                        }
                        else {
                            layer.msg(data.msg, {icon: 5});
                        }
                    }
                });

            }else {
                $('#password').focus();
                $('#repassword').val('');
                $('#password').val('');
                layer.msg('两次输入密码不一致！请重新输入');
            }
            return false;
        });
    });
</script>

{include file="public/footer" /}
