
<!--js模块-->
<style>
    .ui-footer{
        margin: 20px;
        color: #cccccc;
        text-align: center;
    }
</style>

<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/bootstrap/js/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/static/js/citySelect.js"></script>
<script src="/static/js/main.js"></script>
<footer class="ui-footer">
    &copy; 优维网络 ｜ QQ：846505221
</footer>
</body>
</html>