<style>
    .nav-left>li>a{
        display: inline-block;
        padding: 0 30px;
        color: black;
        font-weight: 600;
        line-height: 36px;
    }
    .nav-left>li>a:hover{
        color: white;
        background: url(/static/image/sys/menus-hover.png) no-repeat;
    }
    .nav-pills > li.active > a{
        color: white;
        background: url(/static/image/sys/menus-hover.png) no-repeat;
        background-color: #fff0;
    }
    .nav-pills > li.active > a:hover{
        background-color: #fff0;
    }
    .fixed{position: fixed;top: 120px; width: 18%;}
</style>
<!--左边栏空白模块-->
<div class="container-fluid">
    <div class="main-left">
        <div class="fixed">
            <div class="info-left" style="color: black">{:session('user_neckname')}医生</div>
            <div class="img-left">
                <img src="{:session('user_img')}" class="img-face">
            </div>
            <div class="menu-left-title">统计报表</div>
        </div>
        <div class="menu-left"  style="padding-bottom: 50px;background-color: #FFFFFF">
            <ul class="nav nav-pills nav-stacked align-center nav-left">
                <li id="patient_list-left" class="">
                    <a  href="{:url('/Search/patient_list')}" style="padding: 0 15px;">基本信息表</a>
                </li>

            </ul>
        </div>
    </div>