<!DOCTYPE html>
<html lang="zh-CN">
<!--seo、css导入模块-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>病人管理系统</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script src="/static/layui/layui.js"></script>

</head>